@import './variables.scss';

.btn {
    border-radius: 100px;
    ouline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.disabled {
   opacity: 0.6;
   pointer-events: none;
}

.input {
    border-radius: 100px;
    outline: none;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
}
